set -e
# Image for python development
echo "==> Building from image '{{ base_image }}'"
container=$(buildah from {{ base_image }})

echo "==> Updating and upgrading."
buildah run --net host $container -- apt update -y

echo "==> Download python."
buildah run --net host $container -- apt install -y python3 python3-pip python3-ipython

{% include 'save_image.bash.snippet' %}
