FROM {{ base_image }}

RUN sudo apt update -y && \
    sudo apt install -y curl build-essential
RUN curl https://sh.rustup.rs -sSf | sh -s -- -y
RUN /bin/bash -c "source $HOME/.cargo/env && rustup update"