# Set up user.
RUN useradd -m -G sudo -s /bin/bash -u {{ user_id }} {{ username }}
RUN bash -c 'echo "%sudo  ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/container'
RUN chmod 0440 /etc/sudoers.d/container
# So we don't get bothered first call to sudo
RUN touch /home/{{ username }}/.sudo_as_admin_successful