# Clone emacs cofig.
RUN git clone git://github.com/jpace121/evil-ed.git /home/{{ username }}/.emacs.d
RUN bash /home/{{ username }}/.emacs.d/add_emc_and_tmux.sh

# Setting git config.
RUN git config --global user.name "James Pace" && \
    git config --global user.email "jpace121@gmail.com"
