# Clone emacs config.
RUN git clone git://github.com/jpace121/evil-ed.git /home/{{ username }}/.emacs.d && \
    bash -c "echo 'alias emc='\''emacsclient -t --alternate-editor=\"\"'\''' >> ~/.bashrc"

# Configure tmux.
COPY --chown={{ username }}:{{ user_id }} '{{ template_dir }}/config/tmux.conf' '/home/{{ username }}/.tmux.conf'
ENV TERM=xterm-256color

# Set git config.
RUN git config --global user.name 'James Pace' && \
    git config --global user.email 'jpace121@gmail.com'
