echo "==> Set tmux as entry point."
buildah copy $container '{{ template_dir }}/entrypoints/wait.bash' '/wait.bash'
buildah copy $container '{{ template_dir }}/scripts/tmux-attach.bash' '/tmux-attach'
buildah config --entrypoint '["/wait.bash"]' $container
buildah config --cmd '' $container