echo "==> Set entrypoint."
buildah copy $container '{{ template_dir }}/entrypoints/dev_contain_init' '/dev/dev_contain_init'
buildah config --entrypoint '["/dev_contain_init"]' $container
buildah config --cmd '' $container
